.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.app button{
  background-color: #333;
  color: #fff;
  width: 10em;
  height: 3em;
  padding: .5em;
  box-shadow: 1px 1px  #333;
}